/* ----------------------------------------------
    HERO BANNER
-----------------------------------------------*/
#home {
    background: url(img/Hero.png) center no-repeat;
}

/* ----------------------------------------------
    TENTANG KAMI
-----------------------------------------------*/
.tentangkami {
    width: 28em;
	/* height: 523px; */
	padding:3.5em 2.5em;
    right:5%;
    transform: translateY(30%)
}


/* ----------------------------------------------
    FOOTER
-----------------------------------------------*/
.footer-top{
    background:url(img/footer.svg)
}