/* ----------------------------------------------
    HERO BANNER
-----------------------------------------------*/
#home {
    background: url(img/Hero.png) center no-repeat;
}

/* ----------------------------------------------
    TENTANG KAMI
-----------------------------------------------*/
.tentangkami {
    width: 28em;
	/* height: 523px; */
	padding:3.5em 2.5em;
    right:5%;
    transform: translateY(30%)
}


/* ----------------------------------------------
    FOOTER
-----------------------------------------------*/
.footer-top{
    background:url(img/footer.svg)
}

.wa{
    position: fixed;
    right:10px;
    bottom:0;
    z-index:10000;
    width:60px;
    height:110px;
    transition: all 0.4 ease;
}
.wa:hover{
    transform:scale(.96)
}